In [249]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import minmax_scale
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import minmax_scale
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import minmax_scale
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier 
from sklearn import metrics
from sklearn.preprocessing import MultiLabelBinarizer, StandardScaler
from sklearn.metrics import confusion_matrix, precision_recall_fscore_support
import warnings
warnings.filterwarnings("ignore")

In [250]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [251]:
data = pd.read_csv("/content/drive/MyDrive/dataset.csv", names=['Hour','Immobilized_bus','Broken_Truck','Vehicle_excess','Accident_victim','Running_over','Fire_vehicles','Occurrence_involving_freight','Incident_involving_dangerous_freight','Lack_of_electricity','Fire','Point_of_flooding','Manifestations','Defect_in_the_network_of_trolleybuses','Tree_on_the_road','Semaphore_off','Intermittent_Semaphore','Slowness_in_traffic_percent'])
data

,Hour,Immobilized_bus,Broken_Truck,Vehicle_excess,Accident_victim,Running_over,Fire_vehicles,Occurrence_involving_freight,Incident_involving_dangerous_freight,Lack_of_electricity,Fire,Point_of_flooding,Manifestations,Defect_in_the_network_of_trolleybuses,Tree_on_the_road,Semaphore_off,Intermittent_Semaphore,Slowness_in_traffic_percent
0,07:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4.1
1,07:30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6.6
2,08:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8.7
3,08:30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9.2
4,09:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,18:00,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,17.8
131,18:30,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,18.1
132,19:00,1,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,17.7
133,19:30,0,4,0,0,0,0,0,0,0,0,0,1,0,0,1,0,17.4
134,20:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12.1

In [252]:
data = data.drop(columns=['Hour'])
data

,Immobilized_bus,Broken_Truck,Vehicle_excess,Accident_victim,Running_over,Fire_vehicles,Occurrence_involving_freight,Incident_involving_dangerous_freight,Lack_of_electricity,Fire,Point_of_flooding,Manifestations,Defect_in_the_network_of_trolleybuses,Tree_on_the_road,Semaphore_off,Intermittent_Semaphore,Slowness_in_traffic_percent
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4.1
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6.6
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8.7
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9.2
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,17.8
131,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,18.1
132,1,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,17.7
133,0,4,0,0,0,0,0,0,0,0,0,1,0,0,1,0,17.4
134,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12.1

In [253]:
print("Missing values for each column:\n", data.isnull().sum())

Missing values for each column:
 Immobilized_bus                          0
Broken_Truck                             0
Vehicle_excess                           0
Accident_victim                          0
Running_over                             0
Fire_vehicles                            0
Occurrence_involving_freight             0
Incident_involving_dangerous_freight     0
Lack_of_electricity                      0
Fire                                     0
Point_of_flooding                        0
Manifestations                           0
Defect_in_the_network_of_trolleybuses    0
Tree_on_the_road                         0
Semaphore_off                            0
Intermittent_Semaphore                   0
Slowness_in_traffic_percent              0
dtype: int64

In [254]:
print("Total null values",data.isnull().sum().sum())

Total null values 0

In [255]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
enc_df = pd.DataFrame(enc.fit_transform(data).toarray())
enc_df

,0,1,2,3,4,5,6,7,8,9,...,124,125,126,127,128,129,130,131,132,133
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
132,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
133,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
134,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [256]:
def NormalizeData(data):
  return (data - np.min(data)) / (np.max(data) - np.min(data))
scaled_x = NormalizeData(data)
scaled_x

,Immobilized_bus,Broken_Truck,Vehicle_excess,Accident_victim,Running_over,Fire_vehicles,Occurrence_involving_freight,Incident_involving_dangerous_freight,Lack_of_electricity,Fire,Point_of_flooding,Manifestations,Defect_in_the_network_of_trolleybuses,Tree_on_the_road,Semaphore_off,Intermittent_Semaphore,Slowness_in_traffic_percent
0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0,0.035
1,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0,0.160
2,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0,0.265
3,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0,0.290
4,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0,0.385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,0.25,0.0,0.0,0.000000,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.125,0.0,0.00,0.0,0.720
131,0.00,0.0,0.0,0.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0,0.735
132,0.25,0.0,0.0,0.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0,0.715
133,0.00,0.8,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000,0.0,0.25,0.0,0.700
134,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0,0.435

In [257]:
X = scaled_x.iloc[:,:-1]
X

,Immobilized_bus,Broken_Truck,Vehicle_excess,Accident_victim,Running_over,Fire_vehicles,Occurrence_involving_freight,Incident_involving_dangerous_freight,Lack_of_electricity,Fire,Point_of_flooding,Manifestations,Defect_in_the_network_of_trolleybuses,Tree_on_the_road,Semaphore_off,Intermittent_Semaphore
0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0
1,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0
2,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0
3,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0
4,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,0.25,0.0,0.0,0.000000,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.125,0.0,0.00,0.0
131,0.00,0.0,0.0,0.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0
132,0.25,0.0,0.0,0.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0
133,0.00,0.8,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000,0.0,0.25,0.0
134,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.0

In [258]:
Y = scaled_x.iloc[:,-1]
Y

0      0.035
1      0.160
2      0.265
3      0.290
4      0.385
       ...
130    0.720
131    0.735
132    0.715
133    0.700
134    0.435
Name: Slowness_in_traffic_percent, Length: 135, dtype: float64

In [259]:
from sklearn.ensemble import RandomForestClassifier
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.3, random_state=0)

In [260]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((94, 16), (41, 16), (94,), (41,))

In [261]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [262]:
y_pred = model.predict(x_train)
y_pred

array([ 0.29262659,  0.30771482,  0.28983291,  0.28983291,  0.33586883,
        0.32581772,  0.66402841,  0.34980281,  0.28983291,  0.29122975,
        0.31698557,  0.28983291,  0.32661055,  1.00581764,  0.23472225,
        0.55299416,  0.42507654,  1.11069141,  0.31581885,  0.30631798,
       -0.09551556,  0.12468829,  0.28983291,  0.43705959,  0.29122975,
        0.28983291,  0.3035243 ,  0.44816278,  0.335     ,  0.28983291,
        0.32661055,  0.32843352,  0.32661055,  0.28983291,  0.28983291,
        0.28983291,  0.28983291,  0.28983291,  0.28983291,  0.33811227,
        0.28983291,  0.32521371,  0.28983291,  0.29122975,  0.33307515,
        0.25931135,  0.28983291,  0.50066331,  0.3035243 ,  0.29402343,
        0.125     ,  0.29122975,  0.23611909,  0.43135609,  0.43558625,
        0.29262659,  0.23611909,  0.28983291,  0.28983291,  0.32521371,
        0.32581772,  0.145815  ,  0.23472225,  0.29122975,  0.28983291,
        0.69406093,  0.28983291,  0.28983291,  0.29122975,  0.30329418,
        0.37209623,  0.85616857,  0.31442201,  0.32661055,  0.22289801,
        0.3035243 ,  0.31581885,  0.38941375,  0.3035243 ,  0.40747702,
        0.30212746,  0.27959287,  0.28983291,  0.40608018,  0.18990384,
        0.3035243 ,  0.42142112,  0.28983291,  0.28983291,  0.28983291,
        0.32661055,  0.27439958,  0.29122975,  0.28983291])

In [263]:
y_pred.shape

(94,)

In [264]:
try:
  test_ConfMat_sklearn = confusion_matrix(y_train,y_pred)
except:
  print(f"Confusion Matrix on testing set: \ncontinuous is not supported")

Confusion Matrix on testing set:
continuous is not supported

In [265]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_pred)
print(f"\nMAE: {mae}")

MAE: 0.1300413011388214

In [266]:
mse = mean_squared_error(y_train,y_pred)
print(f"\nMSE: {mse}")

MSE: 0.02766533724525872

In [267]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_train, y_pred))
rms

0.16632900301889242

In [268]:
from sklearn.metrics import r2_score
r2 = r2_score(y_train, y_pred)
print(f"\nR2 Score: {r2}")

R2 Score: 0.4567313364350919

In [269]:
poly = PolynomialFeatures()
poly.fit_transform(x_train)

array([[1. , 0. , 0.4, ..., 0. , 0. , 0. ],
       [1. , 0. , 0.8, ..., 0. , 0. , 0. ],
       [1. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [1. , 0. , 0.4, ..., 0. , 0. , 0. ],
       [1. , 0. , 0.2, ..., 0. , 0. , 0. ],
       [1. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [270]:
try:
  test_ConfMat_sklearn = confusion_matrix(y_train,y_pred)
except:
  print(f"Confusion Matrix on testing set: \ncontinuous is not supported")

Confusion Matrix on testing set:
continuous is not supported

In [271]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_pred)
print(f"\nMAE: {mae}")

MAE: 0.1300413011388214

In [272]:
mse = mean_squared_error(y_train,y_pred)
print(f"\nMSE: {mse}")

MSE: 0.02766533724525872

In [273]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_train, y_pred))
rms

0.16632900301889242

In [274]:
from sklearn.metrics import r2_score
r2 = r2_score(y_train, y_pred)
print(f"\nR2 Score: {r2}")

R2 Score: 0.4567313364350919

In [275]:
from sklearn.linear_model import Ridge
rdg = Ridge(alpha = 0.5)
rdg.fit(x_train, y_train)
rdg.score(x_train,y_train)

0.4383754039887642

In [276]:
try:
  test_ConfMat_sklearn = confusion_matrix(y_train,y_pred)
except:
  print(f"Confusion Matrix on testing set: \ncontinuous is not supported")

Confusion Matrix on testing set:
continuous is not supported

In [277]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_pred)
print(f"\nMAE: {mae}")

MAE: 0.1300413011388214

In [278]:
mse = mean_squared_error(y_train,y_pred)
print(f"\nMSE: {mse}")

MSE: 0.02766533724525872

In [279]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_train, y_pred))
rms

0.16632900301889242

In [280]:
from sklearn.metrics import r2_score
r2 = r2_score(y_train, y_pred)
print(f"\nR2 Score: {r2}")

R2 Score: 0.4567313364350919

In [281]:
from sklearn import linear_model
clf = linear_model.Lasso(alpha=0.1)
clf.fit(x_train,y_train)
print(clf.coef_)
print(clf.intercept_)

[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. -0. -0.  0. -0.]
0.3344148936170213

In [282]:
try:
  test_ConfMat_sklearn = confusion_matrix(y_train,y_pred)
except:
  print(f"Confusion Matrix on testing set: \ncontinuous is not supported")

Confusion Matrix on testing set:
continuous is not supported

In [283]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_pred)
print(f"\nMAE: {mae}")

MAE: 0.1300413011388214

In [284]:
mse = mean_squared_error(y_train,y_pred)
print(f"\nMSE: {mse}")

MSE: 0.02766533724525872

In [285]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_train, y_pred))
rms

0.16632900301889242

In [286]:
from sklearn.metrics import r2_score
r2 = r2_score(y_train, y_pred)
print(f"\nR2 Score: {r2}")

R2 Score: 0.4567313364350919

In [287]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.7, random_state=0)

In [288]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((40, 16), (95, 16), (40,), (95,))

In [289]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [290]:
y_pred = model.predict(x_train)
y_pred

array([0.48534267, 0.28967374, 0.27327675, 0.32496288, 0.32496288,
       0.38602701, 0.35669315, 0.23112948, 0.29092132, 0.30731831,
       0.32496288, 1.        , 0.32496288, 0.32496288, 0.30731831,
       0.41900486, 0.42362332, 0.84      , 0.30140582, 0.36838245,
       0.06050016, 0.29553978, 0.28376125, 0.33965733, 0.29553978,
       0.48468746, 0.31318435, 0.12985559, 0.32496288, 0.50233203,
       0.30401493, 0.29553978, 0.22964425, 0.32496288, 0.32496288,
       0.32496288, 0.36838245, 0.22029659, 0.30731831, 0.32496288])

In [291]:
y_pred.shape

(40,)

In [292]:
try:
  test_ConfMat_sklearn = confusion_matrix(y_train,y_pred)
except:
  print(f"Confusion Matrix on testing set: \ncontinuous is not supported")

Confusion Matrix on testing set:
continuous is not supported

In [293]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_pred)
print(f"\nMAE: {mae}")

MAE: 0.10626442898052639

In [294]:
mse = mean_squared_error(y_train,y_pred)
print(f"\nMSE: {mse}")

MSE: 0.020302502581499217

In [295]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_train, y_pred))
rms

0.14248685055646088

In [296]:
from sklearn.metrics import r2_score
r2 = r2_score(y_train, y_pred)
print(f"\nR2 Score: {r2}")

R2 Score: 0.5407219146707865

In [297]:
poly = PolynomialFeatures()
poly.fit_transform(x_train)

array([[1. , 0.5, 0. , ..., 0. , 0. , 0. ],
       [1. , 0. , 0.4, ..., 0. , 0. , 0. ],
       [1. , 0. , 0.2, ..., 0. , 0. , 0. ],
       ...,
       [1. , 0. , 0.4, ..., 0. , 0. , 0. ],
       [1. , 0. , 0.2, ..., 0. , 0. , 0. ],
       [1. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [298]:
try:
  test_ConfMat_sklearn = confusion_matrix(y_train,y_pred)
except:
  print(f"Confusion Matrix on testing set: \ncontinuous is not supported")

Confusion Matrix on testing set:
continuous is not supported

In [299]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_pred)
print(f"\nMAE: {mae}")

MAE: 0.10626442898052639

In [300]:
mse = mean_squared_error(y_train,y_pred)
print(f"\nMSE: {mse}")

MSE: 0.020302502581499217

In [301]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_train, y_pred))
rms

0.14248685055646088

In [302]:
from sklearn.metrics import r2_score
r2 = r2_score(y_train, y_pred)
print(f"\nR2 Score: {r2}")

R2 Score: 0.5407219146707865

In [303]:
from sklearn.linear_model import Ridge
rdg = Ridge(alpha = 0.5)
rdg.fit(x_train, y_train)
rdg.score(x_train,y_train)

0.4838899829722503

In [304]:
try:
  test_ConfMat_sklearn = confusion_matrix(y_train,y_pred)
except:
  print(f"Confusion Matrix on testing set: \ncontinuous is not supported")

Confusion Matrix on testing set:
continuous is not supported

In [305]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_pred)
print(f"\nMAE: {mae}")

MAE: 0.10626442898052639

In [306]:
mse = mean_squared_error(y_train,y_pred)
print(f"\nMSE: {mse}")

MSE: 0.020302502581499217

In [307]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_train, y_pred))
rms

0.14248685055646088

In [308]:
from sklearn.metrics import r2_score
r2 = r2_score(y_train, y_pred)
print(f"\nR2 Score: {r2}")

R2 Score: 0.5407219146707865

In [309]:
from sklearn import linear_model
clf = linear_model.Lasso(alpha=0.1)
clf.fit(x_train,y_train)
print(clf.coef_)
print(clf.intercept_)

[ 0. -0.  0. -0.  0.  0.  0.  0.  0.  0.  0. -0. -0. -0.  0.  0.]
0.349

In [310]:
try:
  test_ConfMat_sklearn = confusion_matrix(y_train,y_pred)
except:
  print(f"Confusion Matrix on testing set: \ncontinuous is not supported")

Confusion Matrix on testing set:
continuous is not supported

In [311]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_pred)
print(f"\nMAE: {mae}")

MAE: 0.10626442898052639

In [312]:
mse = mean_squared_error(y_train,y_pred)
print(f"\nMSE: {mse}")

MSE: 0.020302502581499217

In [313]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_train, y_pred))
rms

0.14248685055646088

In [314]:
from sklearn.metrics import r2_score
r2 = r2_score(y_train, y_pred)
print(f"\nR2 Score: {r2}")

R2 Score: 0.5407219146707865

In [315]:
data = pd.read_csv("/content/drive/MyDrive/agaricus-lepiota.data",na_values="?",names=['class','cap-shape','cap-surface','cap-color','bruises?','odor','gill-attachment','gill-spacing','gill-size','gill-color','stalk-shape','stalk-root','stalk-surface-above-ring','stalk-surface-below-ring','stalk-color-above-ring','stalk-color-below-ring','veil-type','veil-color','ring-number','ring-type','spore-print-color','population','habitat'])
data

,class,cap-shape,cap-surface,cap-color,bruises?,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,e,k,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,b,c,l
8120,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,n,o,p,b,v,l
8121,e,f,s,n,f,n,a,c,b,n,...,s,o,o,p,o,o,p,b,c,l
8122,p,k,y,n,f,y,f,c,n,b,...,k,w,w,p,w,o,e,w,v,l
8123,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,o,c,l

In [316]:
print("Missing values for each column:\n", data.isnull().sum())

Missing values for each column:
 class                          0
cap-shape                      0
cap-surface                    0
cap-color                      0
bruises?                       0
odor                           0
gill-attachment                0
gill-spacing                   0
gill-size                      0
gill-color                     0
stalk-shape                    0
stalk-root                  2480
stalk-surface-above-ring       0
stalk-surface-below-ring       0
stalk-color-above-ring         0
stalk-color-below-ring         0
veil-type                      0
veil-color                     0
ring-number                    0
ring-type                      0
spore-print-color              0
population                     0
habitat                        0
dtype: int64

In [317]:
print("Missing values for each column:\n", data.isnull().sum())

Missing values for each column:
 class                          0
cap-shape                      0
cap-surface                    0
cap-color                      0
bruises?                       0
odor                           0
gill-attachment                0
gill-spacing                   0
gill-size                      0
gill-color                     0
stalk-shape                    0
stalk-root                  2480
stalk-surface-above-ring       0
stalk-surface-below-ring       0
stalk-color-above-ring         0
stalk-color-below-ring         0
veil-type                      0
veil-color                     0
ring-number                    0
ring-type                      0
spore-print-color              0
population                     0
habitat                        0
dtype: int64

In [318]:
print("Total null values",data.isnull().sum().sum())

Total null values 2480

In [319]:
Handling_null_values=data['stalk-root'].fillna(data['stalk-root'].mode()[0], inplace=False)
print(Handling_null_values)

0       e
1       c
2       c
3       e
4       e
       ..
8119    b
8120    b
8121    b
8122    b
8123    b
Name: stalk-root, Length: 8124, dtype: object

In [320]:
data = data.drop(columns=['veil-type'])
data

,class,cap-shape,cap-surface,cap-color,bruises?,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-above-ring,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,s,w,w,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,s,w,w,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,s,w,w,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,s,w,w,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,s,w,w,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,e,k,s,n,f,n,a,c,b,y,...,s,s,o,o,o,o,p,b,c,l
8120,e,x,s,n,f,n,a,c,b,y,...,s,s,o,o,n,o,p,b,v,l
8121,e,f,s,n,f,n,a,c,b,n,...,s,s,o,o,o,o,p,b,c,l
8122,p,k,y,n,f,y,f,c,n,b,...,s,k,w,w,w,o,e,w,v,l
8123,e,x,s,n,f,n,a,c,b,y,...,s,s,o,o,o,o,p,o,c,l

In [321]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
enc_df = pd.DataFrame(enc.fit_transform(data).toarray())
enc_df

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8120,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8121,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8122,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8123,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [322]:
def NormalizeData(enc_df):
  return (enc_df - np.min(enc_df)) / (np.max(enc_df) - np.min(enc_df))
scaled_x = NormalizeData(enc_df)
scaled_x

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8120,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8121,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8122,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8123,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [323]:
X = scaled_x.iloc[:,:-1]
X

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8120,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8121,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8122,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8123,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [324]:
Y = scaled_x.iloc[:,-1]
Y

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8119    0.0
8120    0.0
8121    0.0
8122    0.0
8123    0.0
Name: 117, Length: 8124, dtype: float64

In [325]:
from sklearn.ensemble import RandomForestClassifier
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.3, random_state=0)

In [326]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((5686, 117), (2438, 117), (5686,), (2438,))

In [327]:
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
lr = LogisticRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
y_prob = lr.predict_proba(x_test)[:, 1]
# Classification report and scoring
print(classification_report(y_test, y_pred))
print(f'ROC AUC score: {roc_auc_score(y_test, y_prob)}')
print('Accuracy Score: ', accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      2389
         1.0       1.00      1.00      1.00        49

    accuracy                           1.00      2438
   macro avg       1.00      1.00      1.00      2438
weighted avg       1.00      1.00      1.00      2438

ROC AUC score: 1.0
Accuracy Score:  1.0

In [328]:
y_pred.shape

(2438,)

In [329]:
try:
  test_ConfMat_sklearn = confusion_matrix(y_train,y_pred)
except:
  print(f"Confusion Matrix on testing set: \ncontinuous is not supported")

Confusion Matrix on testing set:
continuous is not supported

In [330]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('Precision: %.3f' % precision_score(y_test, y_pred))

Precision: 1.000

In [331]:
print('Recall: %.3f' % recall_score(y_test, y_pred))

Recall: 1.000

In [332]:
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

F1 Score: 1.000

In [333]:
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)
clf = clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [334]:

test_ConfMat_sklearn = confusion_matrix(y_test,y_pred)
print(f"Confusion Matrix on testing set: \n{test_ConfMat_sklearn}")

Confusion Matrix on testing set:
[[2389    0]
 [   0   49]]

In [335]:

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [336]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('Precision: %.3f' % precision_score(y_test, y_pred))
print('Recall: %.3f' % recall_score(y_test, y_pred))
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

Precision: 1.000
Recall: 1.000
F1 Score: 1.000

In [337]:

clf=RandomForestClassifier(n_estimators=2)
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [338]:

test_ConfMat_sklearn = confusion_matrix(y_test,y_pred)
print(f"Confusion Matrix on testing set: \n{test_ConfMat_sklearn}")

Confusion Matrix on testing set:
[[2389    0]
 [   0   49]]

In [339]:

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [340]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('Precision: %.3f' % precision_score(y_test, y_pred))
print('Recall: %.3f' % recall_score(y_test, y_pred))
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

Precision: 1.000
Recall: 1.000
F1 Score: 1.000

In [341]:
acc = []
rf = RandomForestClassifier(bootstrap=True, criterion='gini',
 max_depth=2, max_features='auto', max_leaf_nodes=2, min_samples_leaf=1,
 min_samples_split=2, min_weight_fraction_leaf=0.0,
 n_estimators=10, n_jobs=1, random_state=10)
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
y_predict_train = rf.predict(x_train)
print("Validation Data Set: ",metrics.accuracy_score(y_test,y_pred)*100)
print("Training Data Set: ",metrics.accuracy_score(y_train,y_predict_train)*100)
acc.append(metrics.accuracy_score(y_test,y_pred))

Validation Data Set:  97.99015586546349
Training Data Set:  97.48505100246219

In [342]:
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(n_estimators=50, random_state=0)
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [343]:
test_ConfMat_sklearn = confusion_matrix(y_test,y_pred)
print(f"Confusion Matrix on testing set: \n{test_ConfMat_sklearn}")

Confusion Matrix on testing set:
[[2389    0]
 [   0   49]]

In [344]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [345]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('Precision: %.3f' % precision_score(y_test, y_pred))
print('Recall: %.3f' % recall_score(y_test, y_pred))
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

Precision: 1.000
Recall: 1.000
F1 Score: 1.000

In [346]:

from sklearn.ensemble import GradientBoostingClassifier

In [347]:
acc1=[]
rf1 = GradientBoostingClassifier(n_estimators=42, learning_rate=1.0, max_depth=1, random_state=0)
rf1.fit(x_train, y_train)
y_pred = rf1.predict(x_test)
y_predict_train = rf1.predict(x_train)
print("Validation Data Set: ",metrics.accuracy_score(y_test,y_pred)*100)
print("Training Data Set: ",metrics.accuracy_score(y_train,y_predict_train)*100)
acc1.append(metrics.accuracy_score(y_test,y_pred))

Validation Data Set:  100.0
Training Data Set:  100.0

In [348]:
test_ConfMat_sklearn = confusion_matrix(y_test,y_pred)
print(f"Confusion Matrix on testing set: \n{test_ConfMat_sklearn}")

Confusion Matrix on testing set:
[[2389    0]
 [   0   49]]

In [349]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [350]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('Precision: %.3f' % precision_score(y_test, y_pred))
print('Recall: %.3f' % recall_score(y_test, y_pred))
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

Precision: 1.000
Recall: 1.000
F1 Score: 1.000

In [351]:
from sklearn.ensemble import RandomForestClassifier
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.7, random_state=0)

In [352]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((2437, 117), (5687, 117), (2437,), (5687,))

In [353]:
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
lr = LogisticRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
y_prob = lr.predict_proba(x_test)[:, 1]
# Classification report and scoring
print(classification_report(y_test, y_pred))
print(f'ROC AUC score: {roc_auc_score(y_test, y_prob)}')
print('Accuracy Score: ', accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      5551
         1.0       1.00      1.00      1.00       136

    accuracy                           1.00      5687
   macro avg       1.00      1.00      1.00      5687
weighted avg       1.00      1.00      1.00      5687

ROC AUC score: 1.0
Accuracy Score:  1.0

In [354]:
y_pred.shape

(5687,)

In [355]:
try:
  test_ConfMat_sklearn = confusion_matrix(y_train,y_pred)
except:
  print(f"Confusion Matrix on testing set: \ncontinuous is not supported")

Confusion Matrix on testing set:
continuous is not supported

In [356]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('Precision: %.3f' % precision_score(y_test, y_pred))

Precision: 1.000

In [357]:
print('Recall: %.3f' % recall_score(y_test, y_pred))

Recall: 1.000

In [358]:
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

F1 Score: 1.000

In [359]:
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)
clf = clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [360]:

test_ConfMat_sklearn = confusion_matrix(y_test,y_pred)
print(f"Confusion Matrix on testing set: \n{test_ConfMat_sklearn}")

Confusion Matrix on testing set:
[[5551    0]
 [   0  136]]

In [361]:

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [362]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('Precision: %.3f' % precision_score(y_test, y_pred))
print('Recall: %.3f' % recall_score(y_test, y_pred))
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

Precision: 1.000
Recall: 1.000
F1 Score: 1.000

In [363]:

clf=RandomForestClassifier(n_estimators=2)
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [364]:

test_ConfMat_sklearn = confusion_matrix(y_test,y_pred)
print(f"Confusion Matrix on testing set: \n{test_ConfMat_sklearn}")

Confusion Matrix on testing set:
[[5551    0]
 [   0  136]]

In [365]:

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [366]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('Precision: %.3f' % precision_score(y_test, y_pred))
print('Recall: %.3f' % recall_score(y_test, y_pred))
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

Precision: 1.000
Recall: 1.000
F1 Score: 1.000

In [367]:
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(n_estimators=50, random_state=0)
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [368]:
test_ConfMat_sklearn = confusion_matrix(y_test,y_pred)
print(f"Confusion Matrix on testing set: \n{test_ConfMat_sklearn}")

Confusion Matrix on testing set:
[[5551    0]
 [   0  136]]

In [369]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [370]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('Precision: %.3f' % precision_score(y_test, y_pred))
print('Recall: %.3f' % recall_score(y_test, y_pred))
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

Precision: 1.000
Recall: 1.000
F1 Score: 1.000

In [371]:

from sklearn.ensemble import GradientBoostingClassifier

In [372]:
acc1=[]
rf1 = GradientBoostingClassifier(n_estimators=42, learning_rate=1.0, max_depth=1, random_state=0)
rf1.fit(x_train, y_train)
y_pred = rf1.predict(x_test)
y_predict_train = rf1.predict(x_train)
print("Validation Data Set: ",metrics.accuracy_score(y_test,y_pred)*100)
print("Training Data Set: ",metrics.accuracy_score(y_train,y_predict_train)*100)

Validation Data Set:  97.60858097415156
Training Data Set:  97.7020927369717

In [373]:
test_ConfMat_sklearn = confusion_matrix(y_test,y_pred)
print(f"Confusion Matrix on testing set: \n{test_ConfMat_sklearn}")

Confusion Matrix on testing set:
[[5551    0]
 [ 136    0]]

In [374]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9760858097415157

In [375]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('Precision: %.3f' % precision_score(y_test, y_pred))
print('Recall: %.3f' % recall_score(y_test, y_pred))
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

Precision: 0.000
Recall: 0.000
F1 Score: 0.000